
.center-avatar {
    margin: auto;
    width: 200px;
    height: 200px;
}

.validation-message {
    color: red;
    font-size: 16px;
    margin-top: 5px;
      
}

.text_extra{
    text-align: center;
}